# .dotfiles
alias dotfiles="$DEFAULT_TEXT_EDITOR -n ~/.dotfiles"

# Reload ZSH
alias zshreload="source ~/.zshrc"

# Sudo alias that expands aliases too
alias sudo='sudo '

alias phpstorm='open -a ~/Applications/PhpStorm.app "`pwd`"'
alias zed='open -a /Applications/Zed.app "`pwd`"'

# Zoxide - A fast directory navigation tool
alias cd="z"

# Git
alias nah="git reset --hard;git clean -df"
alias uncommit="git reset --soft HEAD~1"

alias o="open ."
alias hostfile="sudo $DEFAULT_TEXT_EDITOR /etc/hosts"
alias sshconfig="$DEFAULT_TEXT_EDITOR ~/.ssh/config"
alias ip="curl ifconfig.me/ip ; echo"

# DNS flush
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder; echo \"DNS flushed\""

# Claude Code
alias c="claude"

if command -v eza &> /dev/null; then
    alias ls="eza --icons --group-directories-first"
    alias l="eza -la --icons --group-directories-first --hyperlink"
    alias lt="eza --tree --level=2 --icons"
fi

if command -v bat &> /dev/null; then
    alias cat="bat"
fi

if command -v rg &> /dev/null; then
    alias grep="rg"
fi
